<%= form_with(model: provider, local: false) do |form| %>
  <div class="modal-body">
     <ul class="errors">
      </ul>

  <div class="row">
    <div class="col-sm-6">
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, id: :provider_name, class: "form-control", placeholder: "Nom complet" %>
        </div>

        <div class="form-group">
          <%= form.label :address %>
          <%= form.text_field :address, id: :provider_address, class: "form-control", placeholder: "Adresse" %>
        </div>

        <div class="form-group">
          <%= form.label :city %>
          <%= form.text_field :city, id: :provider_city , class: "form-control", placeholder: "Ville" %>
        </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
    <%= form.label :country  %>
    <%= form.text_field :country, id: :provider_country , class: "form-control", placeholder: "Pays"%>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :provider_phone, class: "form-control", placeholder: "Téléphone" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :provider_email, class: "form-control", placeholder: "Email" %>
  </div>
    </div>
  </div>
  

  

   </div><!-- modal body -->
             <div class="modal-footer">
            <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
            <%= form.submit "Enregistrer", class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
    </div>
<% end %>
