<% @tenants.each do |tenant| %>
  <tr>
    <td><%= tenant_type(tenant.tenant_type_id).name %></td>
    <td><%= tenant.civility %></td>
    <td><%= tenant.last_name %></td>
    <td><%= tenant.first_name %></td>
   
    <td>
            <div class="action-buttons">
                    <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_tenant_path(tenant), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), tenant_delete_path(tenant), remote: true, title: "Supprimer", class: "delete" %>
</div>
        </td>
  </tr>
<% end %>