<p id="notice"><%= notice %></p>

<p>
  <strong>Tenant type:</strong>
  <%= @tenant.tenant_type %>
</p>

<p>
  <strong>Civility:</strong>
  <%= @tenant.civility %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @tenant.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @tenant.first_name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @tenant.birth_date %>
</p>

<p>
  <strong>Birth place:</strong>
  <%= @tenant.birth_place %>
</p>

<p>
  <strong>Id type:</strong>
  <%= @tenant.id_type %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @tenant.id_number %>
</p>

<p>
  <strong>Id expiration:</strong>
  <%= @tenant.id_expiration %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @tenant.profession %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @tenant.nationality %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @tenant.company_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @tenant.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @tenant.phone %>
</p>

<p>
  <strong>City:</strong>
  <%= @tenant.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @tenant.country %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tenant.email %>
</p>

<p>
  <strong>About:</strong>
  <%= @tenant.about %>
</p>

<p>
  <strong>User:</strong>
  <%= @tenant.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tenant.status %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
