<p id="notice"><%= notice %></p>

<h1>Rent Payments</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Income</th>
      <th>Lease</th>
      <th>Month</th>
      <th>Year</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rent_payments.each do |rent_payment| %>
      <tr>
        <td><%= rent_payment.uid %></td>
        <td><%= rent_payment.income %></td>
        <td><%= rent_payment.lease %></td>
        <td><%= rent_payment.month %></td>
        <td><%= rent_payment.year %></td>
        <td><%= rent_payment.status %></td>
        <td><%= link_to 'Show', rent_payment %></td>
        <td><%= link_to 'Edit', edit_rent_payment_path(rent_payment) %></td>
        <td><%= link_to 'Destroy', rent_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rent Payment', new_rent_payment_path %>
