<div class="field">
    <%= f.label :product_id %>
    <%= f.text_field :product_id, id: :stock_movement_detail_product_id %>
  </div>

  <div class="field">
    <%= f.label :unit_price %>
    <%= f.text_field :unit_price, id: :stock_movement_detail_unit_price %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, id: :stock_movement_detail_quantity %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount, id: :stock_movement_detail_amount %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status, id: :stock_movement_detail_status %>
  </div>

  <div class="field">
    <%= f.label :stock_movement_id %>
    <%= f.text_field :stock_movement_id, id: :stock_movement_detail_stock_movement_id %>
  </div>