<% @stores.each do |store| %>
  <tr>
     <td><%= store_type(store.store_type_id).name %></td>
    <td><%= store.name %></td>
    <td><%= store.address %></td>
    <td><%= store.city %></td>
    <td>
            <div class="action-buttons">
                    <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_store_path(store), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), store_delete_path(store), remote: true, title: "Supprimer", class: "delete" %>
</div>
        </td>
  </tr>
<% end %>