<%= form_with(model: handover, local: false) do |form| %>
  
<div class="modal-body">
  
        <ul class="errors">
        </ul>
 
   <div class="row">
    

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :handover_type, "Type", class: "required" %>
         <%= form.select :handover_type, HANDOVER_TYPES, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%;" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :property_id, "Propriéte", class: "required" %>
        <%= form.collection_select(:property_id, @properties, :id, :reference, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%;",  required: true) %> 
      </div>
    </div>


  </div>

  <div class="row">
    <div class="col-md">
      <div class="form-group">
        <%= form.label :reference, "Référence" %>
        <%= form.text_field :reference, class: "form-control", placeholder: "Référence" %>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :doors, "Portes" %>
        <%= form.select :doors, HANDOVER_STATUSES, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%;" %>
      </div>
    </div>


    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :windows, "Fenêtres" %>
        <%= form.select :windows, HANDOVER_STATUSES, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%;" %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :wall_cover , "Revêtement mural"%>
        <%= form.select :wall_cover, HANDOVER_STATUSES, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%;" %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :flooring, "Revêtement de sol" %>
        <%= form.select :flooring, HANDOVER_STATUSES, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%;" %>
      </div>
    </div>
  </div>

  

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :ventilators, "Ventilateurs" %>
        <%= form.select :ventilators, HANDOVER_STATUSES, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%;" %>
      </div>
    </div>

    <div class="col-md-3">

      <div class="form-group">
        <%= form.label :air_conditioners, "Climatisation" %>
        <%= form.select :air_conditioners, HANDOVER_STATUSES, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%;" %>
      </div>
    </div>

    <div class="col-md-3">

      <div class="form-group">
        <%= form.label :light_bulbs, "Ampoules" %>
        <%= form.select :light_bulbs, HANDOVER_STATUSES, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%;" %>
      </div>
    </div>

    <div class="col-md-3">

      <div class="form-group">
        <%= form.label :faucets , "Robinets"%>
        <%= form.select :faucets, HANDOVER_STATUSES, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%;" %>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :showers, "Docuhes" %>
        <%= form.select :showers, HANDOVER_STATUSES, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%;" %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :doorbell, "Sonnette" %>
        <%= form.select :doorbell, HANDOVER_STATUSES, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%;" %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :ceiling, "Plafond" %>
        <%= form.select :ceiling, HANDOVER_STATUSES, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%;" %>
      </div>
    </div>

    <div class="col-md-3">

      <div class="form-group">
        <%= form.label :electricity, "Electricité" %>
        <%= form.select :electricity, HANDOVER_STATUSES, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%;" %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">

      <div class="form-group">
        <%= form.label :notes, "Notes" %>
        <%= form.text_area :notes, class: "form-control", placeholder: "Notes" %>
      </div>
    </div>
  </div>

  
</div><!-- modal body -->
     <div class="modal-footer">
            <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
            <%= form.submit "Enregistrer", class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
    </div>
<% end %>
