<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @handover.type %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @handover.reference %>
</p>

<p>
  <strong>Lease:</strong>
  <%= @handover.lease %>
</p>

<p>
  <strong>Doors:</strong>
  <%= @handover.doors %>
</p>

<p>
  <strong>Windows:</strong>
  <%= @handover.windows %>
</p>

<p>
  <strong>Wall cover:</strong>
  <%= @handover.wall_cover %>
</p>

<p>
  <strong>Flooring:</strong>
  <%= @handover.flooring %>
</p>

<p>
  <strong>Ventilators:</strong>
  <%= @handover.ventilators %>
</p>

<p>
  <strong>Air conditioners:</strong>
  <%= @handover.air_conditioners %>
</p>

<p>
  <strong>Light bulbs:</strong>
  <%= @handover.light_bulbs %>
</p>

<p>
  <strong>Faucets:</strong>
  <%= @handover.faucets %>
</p>

<p>
  <strong>Showers:</strong>
  <%= @handover.showers %>
</p>

<p>
  <strong>Doorbell:</strong>
  <%= @handover.doorbell %>
</p>

<p>
  <strong>Ceiling:</strong>
  <%= @handover.ceiling %>
</p>

<p>
  <strong>Electricity:</strong>
  <%= @handover.electricity %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @handover.notes %>
</p>

<p>
  <strong>User:</strong>
  <%= @handover.user %>
</p>

<%= link_to 'Edit', edit_handover_path(@handover) %> |
<%= link_to 'Back', handovers_path %>
