<% @properties.each do |property| %>
      <tr>
        
        <td><%= property_type(property.property_type_id).name %></td>
        <td><%= property.reference %></td>
        <td><%= building(property.building_id).reference if property.building_id.present? %></td>
        <td><%= landlord(property.landlord_id).full_name %></td>
        <td><%= city(property.city_id).name %></td>
        <td><%= property.neighborhood %></td>
        <td><%= property.status %></td>
        
        <td>
            <div class="action-buttons">
                    <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_property_path(property), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), property_delete_path(property), remote: true, title: "Supprimer", class: "delete" %>
</div>
        </td>

      </tr>
    <% end %>