<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property_type.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @property_type.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @property_type.user %>
</p>

<%= link_to 'Edit', edit_property_type_path(@property_type) %> |
<%= link_to 'Back', property_types_path %>
