<%= form_with(model: landlord_type, local: true) do |form| %>
  <% if landlord_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(landlord_type.errors.count, "error") %> prohibited this landlord_type from being saved:</h2>

      <ul>
      <% landlord_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
