<%= form_with(model: building, local: false) do |form| %>
  <div class="modal-body">
  
    <ul class="errors">
    </ul>


    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :landlord_id, "Propriétaire", class: "required" %>
          <%= form.collection_select(:landlord_id, @landlords, :id, :full_name, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%", required: true) %> 
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :reference, "Identifiant/Référence", class: "required" %>
          <%= form.text_field :reference, class: "form-control", placeholder: "Identifiant/Référence", required: true %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :apartment_number, "Nombre appartement", class: "required" %>
          <%= form.number_field :apartment_number, class: "form-control", lang: "fr", step: "1", value: (building.apartment_number.present? ? building.apartment_number : 0), min: "1",  required: true %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :address, "Adresse", class: "required" %>
          <%= form.text_field :address, class: "form-control", placeholder: "Adresse", required: true %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :city_id, "Ville", class: "required" %>
          <%= form.collection_select(:city_id, @cities, :id, :name, {prompt: "Sélectionner"}, class: "form-control", required: true) %> 
        </div>
      </div>

      <div class="col-md-6">

        <div class="form-group">
          <%= form.label :neighborhood, "Quartier", class: "required" %>
          <%= form.text_field :neighborhood, class: "form-control", placeholder: "Quartier", required: true %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

        <div class="form-group">
          <%= form.label :surface, "Surface (m2)" %>
          <%= form.number_field :surface, class: "form-control", lang: "fr", step: "0.01", value: (building.surface.present? ? building.surface : 0.0)  %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :value, "Valeur" %>
          <%= form.number_field :value, class: "form-control",  lang: "fr", step: "O.01", value: (building.value.present? ? building.value : 0.0) %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :about, "Notes" %>
          <%= form.text_area :about , class: "form-control", placeholder: "Notes" %>
        </div>
      </div>
    </div>
</div><!-- modal body -->
     <div class="modal-footer">
            <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
            <%= form.submit "Enregistrer", class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
    </div>
<% end %>
