<%= form_with(model: mandate, local: false) do |form| %>
  <div class="modal-body">
  
        <ul class="errors">
        </ul>

  

  <div class="row">
    <div class="col-md-7">
      <div class="form-group">
        <%= form.label :building_id, "Immeuble" %>
        <%= form.collection_select(:building_id, @buildings, :id, :reference, {prompt: "Sélectionner"}, class: "form-control") %> 
        
      </div>
    </div>

    <div class="col-md-5">
      <div class="form-group">
        <%= form.label :property_id, "Propriété", class: "required" %>
        <%= form.collection_select(:property_id, @properties, :id, :reference, {prompt: "Sélectionner"}, class: "form-control") %> 
      </div>
  </div>

  

    
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :usage_type, "Usage", class: "required"  %>
        <%= form.select :usage_type, USAGE_TYPE, {prompt: "Sélectionner"}, class: "form-control" %>
      </div>
    </div>

  
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :start_date, "Date début", class: "required" %>
        <%= form.date_field :start_date, class: "form-control", required: true %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :end_date, "Date fin", class: "required" %>
        <%= form.date_field :end_date, class: "form-control", required: true %>
      </div>
    </div>

    <div class="col-md-3">

      <div class="form-group">
        <%= form.label :duration, "Durée" %>
        <%= form.text_field :duration, class: "form-control", placeholder: "Durée" %>
      </div>
    </div>
  </div>

  

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :periodicity, "Périodicité", class: "required" %>
        <%= form.select :periodicity, PERIODICITY, {prompt: "Sélectionner"}, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :property_value, "Valeur", class: "required" %>
        <%= form.number_field :property_value, class: "form-control", lang: "fr", step: "0.01", value: (mandate.property_value.present? ? mandate.property_value : 0.0), min: "1", required: true %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :commission_rate, "Taux de commission (%)", class: "required" %>
        <%= form.number_field :commission_rate, class: "form-control",  lang: "fr", step: "0.01", value: (mandate.commission_rate.present? ? mandate.commission_rate : 0.0), min: "1", required: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :commission_amount, "Montant commission", class: "required" %>
        <%= form.number_field :commission_amount, class: "form-control", lang: "fr", step: "0.01", value: (mandate.commission_amount.present? ? mandate.commission_amount : 0.0), min: "1", required: true, readonly: true %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :vat_rate, "Taux taxe foncière (%)", class: "required" %>
        <%= form.collection_select(:vat_rate, @taxes, :rate, :name, {prompt: "Sélectionner"}, class: "form-control") %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :net_amount, "Montant taxe foncière", class: "required" %>
        <%= form.number_field :net_amount, class: "form-control", lang: "fr", step: "0.01", value: (mandate.net_amount.present? ? mandate.net_amount : 0.0), min: "1", required: true, readonly: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :notes, "Notes" %>
        <%= form.text_area :notes, class: "form-control", placeholder: "Notes" %>
      </div>
    </div>
  </div>

 

  </div><!-- modal body -->
     <div class="modal-footer">
            <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
            <%= form.submit "Enregistrer", class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
    </div>
<% end %>
