<% @mandates.each do |mandate| %>
      <tr>
        <td><%= mandate.created_at.strftime("%d/%m/%Y")  %></td>
        <td><%= mandate.building.reference if mandate.building_id   %></td>

        <td><%= mandate.property.reference if mandate.property_id   %></td>
        <td> <%= mandate.landlord.full_name  %></td>

        <td><%= mandate.usage_type %></td>
        <td>
            <div class="action-buttons">
                    <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_mandate_path(mandate), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), mandate_delete_path(mandate), remote: true, title: "Supprimer", class: "delete" %>
</div>
        </td>
      </tr>
    <% end %>