<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @material_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @material_type.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @material_type.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @material_type.user %>
</p>

<%= link_to 'Edit', edit_material_type_path(@material_type) %> |
<%= link_to 'Back', material_types_path %>
