<!-- ########## START: LEFT PANEL ########## -->

      <ul class="br-sideleft-menu">
        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-home tx-20"></i> <span class="menu-item-label">Tableau de bord</span>'), dashboard_path, class: "br-menu-link active" %>
        </li><!-- br-menu-item -->

        


        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-building tx-20"></i>
            <span class="menu-item-label">Biens</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">
            
            <li class="sub-item">
                <%= link_to  "Biens", properties_path, class: "sub-link" %>
            </li>
             <li class="sub-item">
                <%= link_to  "Immeubles", root_path, class: "sub-link" %>
            </li>
          </ul>
        </li>

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-key tx-20"></i> <span class="menu-item-label">Locations</span>'), leases_path, class: "br-menu-link" %>
        </li>

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-file-text-o tx-20"></i> <span class="menu-item-label">Mandats</span>'), mandates_path, class: "br-menu-link" %>
        </li> 

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-users tx-20"></i> <span class="menu-item-label">Locataires</span>'), tenants_path, class: "br-menu-link" %>
        </li>
        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-user-secret tx-20"></i> <span class="menu-item-label">Propriétaires</span>'), landlords_path, class: "br-menu-link" %>
        </li>

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-check-square-o tx-20"></i> <span class="menu-item-label">Etats des lieux</span>'), handovers_path, class: "br-menu-link" %>
        </li> 

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-money tx-20"></i> <span class="menu-item-label">Paiements</span>'), mandates_path, class: "br-menu-link" %>
        </li>


        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-line-chart tx-20"></i>
            <span class="menu-item-label">Situations</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">
            
            <li class="sub-item">
                <%= link_to  "Utilisateurs", all_users_path, class: "sub-link" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Types de locataires", tenant_types_path, class: "sub-link" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Types de propriétaires", landlord_types_path, class: "sub-link" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Types de propriétés", property_types_path, class: "sub-link" %>
            </li>
             
          </ul>
        </li>


        
        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-cogs tx-20"></i>
            <span class="menu-item-label">Paramètres</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">
            
            <li class="sub-item">
                <%= link_to  "Utilisateurs", all_users_path, class: "sub-link" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Types de locataires", tenant_types_path, class: "sub-link" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Types de propriétaires", landlord_types_path, class: "sub-link" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Types de propriétés", property_types_path, class: "sub-link" %>
            </li>
             
          </ul>
        </li>
       
      </ul><!-- br-sideleft-menu -->

      
       
        
      </div><!-- info-list -->

    <!-- ########## END: LEFT PANEL ########## -->