<%= form_with(model: deposit, local: false) do |form| %>
   <div class="modal-body">
  
        <ul class="errors">
        </ul>

      
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, id: :deposit_name, class: "form-control", placeholder: "Nom"  %>
      </div>

    <div class="form-group">
      <%= form.label :address %>
      <%= form.text_field :address, id: :deposit_address, class: "form-control", placeholder: "Adresse"  %>
    </div>

  <div class="form-group">
    <%= form.label :description  %>
    <%= form.text_area :description, id: :deposit_description, class: "form-control", placeholder: "Description"  %>
  </div>

  
</div><!-- modal body -->
            <div class="modal-footer">
        <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
        <%= form.submit "Enregistrer", class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div>
<% end %>
