<% @deposits.each do |deposit| %>
    <tr >
        <td ><%= deposit.name %></td>
        <td ><%= deposit.address %></td>
        <td ><%= deposit.description %></td>
       
        <td>
					<div class="action-buttons">
					<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_deposit_path(deposit), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), deposit_delete_path(deposit), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
    </tr>
<% end %>