<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @deposit.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @deposit.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deposit.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @deposit.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @deposit.user %>
</p>

<%= link_to 'Edit', edit_deposit_path(@deposit) %> |
<%= link_to 'Back', deposits_path %>
