<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @payment.property %>
</p>

<p>
  <strong>Payment reason:</strong>
  <%= @payment.payment_reason %>
</p>

<p>
  <strong>Payer:</strong>
  <%= @payment.payer %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @payment.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @payment.end_date %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @payment.payment_method %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Received amount:</strong>
  <%= @payment.received_amount %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @payment.tax_id %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @payment.total_amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @payment.user %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
