<%= form_with(model: delivery_man, local: true) do |form| %>
  <% if delivery_man.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(delivery_man.errors.count, "error") %> prohibited this delivery_man from being saved:</h2>

      <ul>
      <% delivery_man.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :delivery_man_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :delivery_man_address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :delivery_man_city %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :delivery_man_country %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :delivery_man_phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :delivery_man_email %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :delivery_man_status %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :delivery_man_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
