<p id="notice"><%= notice %></p>

<h1>Delivery Men</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @delivery_men.each do |delivery_man| %>
      <tr>
        <td><%= delivery_man.name %></td>
        <td><%= delivery_man.address %></td>
        <td><%= delivery_man.city %></td>
        <td><%= delivery_man.country %></td>
        <td><%= delivery_man.phone %></td>
        <td><%= delivery_man.email %></td>
        <td><%= delivery_man.status %></td>
        <td><%= delivery_man.user %></td>
        <td><%= link_to 'Show', delivery_man %></td>
        <td><%= link_to 'Edit', edit_delivery_man_path(delivery_man) %></td>
        <td><%= link_to 'Destroy', delivery_man, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Delivery Man', new_delivery_man_path %>
