<p id="notice"><%= notice %></p>

<h1>Stock Movement Details</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Unit price</th>
      <th>Quantity</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Stock movement</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_movement_details.each do |stock_movement_detail| %>
      <tr>
        <td><%= stock_movement_detail.product %></td>
        <td><%= stock_movement_detail.unit_price %></td>
        <td><%= stock_movement_detail.quantity %></td>
        <td><%= stock_movement_detail.amount %></td>
        <td><%= stock_movement_detail.status %></td>
        <td><%= stock_movement_detail.stock_movement %></td>
        <td><%= stock_movement_detail.user %></td>
        <td><%= link_to 'Show', stock_movement_detail %></td>
        <td><%= link_to 'Edit', edit_stock_movement_detail_path(stock_movement_detail) %></td>
        <td><%= link_to 'Destroy', stock_movement_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock Movement Detail', new_stock_movement_detail_path %>
