<%= form_with(model: lease, local: false) do |form| %>
  <div class="modal-body">
  
        <ul class="errors">
        </ul>

    <div class="row">
      <div class="col-md-5">

        <div class="form-group">
          <%= form.label :tenant_id, "Locataire", class: "required" %>
          <%= form.collection_select(:tenant_id, @tenants, :id, :full_name, {prompt: "Sélectionner"}, class: "form-control") %> 
        </div>
      </div>

      <div class="col-md-7">

        <div class="form-group">
          <%= form.label :building_id, "Immeuble" %>
          <%= form.collection_select(:building_id, @buildings, :id, :reference, {prompt: "Sélectionner"}, class: "form-control") %> 
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= form.label :property_id, "Propriété", class: "required" %>
        <%= form.collection_select(:property_id, @properties, :id, :full_reference, {prompt: "Sélectionner"}, class: "form-control") %> 
      </div>
    </div>

    <div class="col-md-4">

      <div class="form-group">
        <%= form.label :usage_type, "Usage", class: "required" %>
        <%= form.select :usage_type, USAGE_TYPE, {prompt: "Sélectionner"}, class: "form-control" , required: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">

      <div class="form-group">
        <%= form.label :start_date, "Date début", class: "required" %>
        <%= form.date_field :start_date, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :end_date, "Date fin", class: "required" %>
        <%= form.date_field :end_date, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :effective_date, "Date d'effet", class: "required" %>
        <%= form.date_field :effective_date, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :duration, "Durée" %>
        <%= form.text_field :duration, class: "form-control", placeholder: "Durée" %>
      </div>
    </div>
  </div>

  <div class="row">
    

    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :periodicity, "Périodicité", class: "required" %>
        <%= form.select :periodicity, PERIODICITY, {prompt: "Sélectionner"}, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :payment_method , "Methode de paiement", class: "required" %>
        <%= form.select :payment_method, PAYMENT_METHODS, {prompt: "Sélectionner"}, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :payment_date, "Date paiement" %>
        <%= form.select :payment_date, PAYMENT_DATE, {prompt: "Sélectionner"}, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-3">

      <div class="form-group">
        <%= form.label :receipt_date, "Date quittance" %>
        <%= form.select :receipt_date, RECEIPT_DATE, {prompt: "Sélectionner"}, class: "form-control" %>
      </div>
    </div>

    
  </div>

  <div class="row">
    

    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :vat_rate, "TVA" %>
         <%= form.collection_select(:vat_rate, @taxes, :rate, :name, {prompt: "Sélectionner"}, class: "form-control") %> 
      </div>

      
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :rent_excluding_tax, "Loyer HT" %>
        <%= form.number_field :rent_excluding_tax, class: "form-control", lang: "fr", step: "0.01", value: (lease.rent_excluding_tax.present? ? lease.rent_excluding_tax : 0.0), min: "1", required: true, readonly: true %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :net_amount, "Montant Net" %>
        <%= form.number_field :net_amount, class: "form-control", lang: "fr", step: "0.01", value: (lease.net_amount.present? ? lease.net_amount : 0.0), readonly: true %>
      </div>
    </div>

  </div>

  <div class="row">
    

    

  
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :guarantee_amount, "Montant caution" %>
        <%= form.number_field :guarantee_amount, class: "form-control", lang: "fr", step: "0.01", value: (lease.guarantee_amount.present? ? lease.guarantee_amount : 0.0) %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :avance, "Montant avance" %>
        <%= form.number_field :avance, class: "form-control", lang: "fr", step: "0.01", value: (lease.avance.present? ? lease.avance : 0.0) %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <%= form.check_box :vat_paid_by_tenant %>
        <%= form.label :vat_paid_by_tenant, "TVA payée par le locataire?" %>
        
      </div>

      <div class="form-group">
        <%= form.check_box :renewable %>
        <%= form.label :renewable, "Rénouvellable?" %>
        
      </div>
    </div>
    
  </div>


   

  <div class="row">
    <div class="col-md-12">

      <div class="form-group">
        <%= form.label :notes, "Notes" %>
        <%= form.text_area :notes, class: "form-control" %>
      </div>
    </div>
  </div>

 

  </div><!-- modal body -->
     <div class="modal-footer">
            <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
            <%= form.submit "Enregistrer", class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
    </div>
<% end %>
