<%= form_with(model: material, local: false) do |form| %>
 <div class="modal-body">
  
        <ul class="errors">
        </ul>

  <div class="form-group">
    <%= form.label :material_type_id, "Type" %>
    <%= form.collection_select(:material_type_id, @material_types, :id, :name, {prompt: "Sélectionner"}, class: "form-control", required: true) %> 
  </div>

<div class="form-group">
    <%= form.label :brand, "Marque" , class: "required" %>
    <%= form.text_field :brand, class: "form-control", placeholder: "Marque", required: true %>
  </div>
  <div class="form-group">
    <%= form.label :model, "Model" , class: "required" %>
    <%= form.text_field :model, class: "form-control", placeholder: "Model", required: true %>
  </div>
  <div class="form-group">
    <%= form.label :serial, "Nom" , class: "required" %>
    <%= form.text_field :serial, class: "form-control", placeholder: "Série", required: true %>
  </div>
  <div class="form-group">
    <%= form.label :name, "Nom" , class: "required" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Nom", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :matriculation_number, "N°Immatriculation" %>
    <%= form.text_field :matriculation_number , class: "form-control", placeholder: "N°Immatriculation"%>
  </div>

  <div class="form-group">
    <%= form.label :serial_number, "N°Série" %>
    <%= form.text_field :serial_number, class: "form-control", placeholder: "N°Série" %>
  </div>

  <div class="form-group">
    <%= form.label :status, "Etat" %>
    <%= form.text_field :status , class: "form-control", placeholder: "Etat"%>
  </div>

  </div><!-- modal body -->
            <div class="modal-footer">
        <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
        <%= form.submit "Enregistrer", class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div>
<% end %>
