<p id="notice"><%= notice %></p>

<p>
  <strong>Material type:</strong>
  <%= @material.material_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @material.name %>
</p>

<p>
  <strong>Matriculation number:</strong>
  <%= @material.matriculation_number %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @material.serial_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @material.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @material.user %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
