<%= form_with(model: expense, local: false) do |form| %>
  <div class="modal-body">
  
        <ul class="errors">
        </ul>


  <div class="row">
    

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :expense_type, "Type", class: "required" %>
         <%= form.select :expense_type, EXPENSE_TYPE, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%;" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :property_id, "Propriéte", class: "required" %>
        <%= form.collection_select(:property_id, @properties, :id, :full_reference, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%;",  required: true) %> 
      </div>
    </div>


  </div>

  

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :payment_method, "Méthode de paiement", class: "required" %>
        <%= form.select :payment_method, PAYMENT_METHODS, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%;" %>
      </div>
    </div>

    <div class="col-md-3">

      <div class="form-group">
        <%= form.label :amount, "Montant dû", class: "required" %>
        <%= form.number_field :amount, class: "form-control", lang: "fr", step: "0.01", value: (expense.amount.present? ? expense.amount : 0.0), min: "1", required: true %>
      </div>
    </div>

    

    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :tax_id , "TVA (%)" %>
        <%= form.collection_select(:tax_id, @taxes, :rate, :name, {prompt: "Sélectionner"}, class: "form-control") %> 
      </div>
    </div>

    <div class="col-md-3">

      <div class="form-group">
        <%= form.label :total_amount, "Montant Net", class: "required" %>
        <%= form.number_field :total_amount, class: "form-control", lang: "fr", step: "0.01", value: (expense.total_amount.present? ? expense.total_amount : 0.0), min: "1", required: true, readonly: true %>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :beneficiary , "Bénéficiaire", class: "required"%>
        <%= form.text_field :beneficiary, class: "form-control", placeholder: "Bénéficiaire", required: true %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :receipt_number , "N°Quittance"%>
        <%= form.text_field :receipt_number, class: "form-control", placeholder: "N°Quittance"%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :description , "Description"%>
        <%= form.text_area :description, class: "form-control", placeholder: "Description" %>
      </div>
    </div>
  </div>

  

  </div><!-- modal body -->
     <div class="modal-footer">
            <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
            <%= form.submit "Enregistrer", class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
    </div>
<% end %>
