<% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.id %></td>
        <td><%= expense.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= property(expense.property_id).reference %></td>
        <td><%= expense.expense_type %></td>
        <td><%= expense.beneficiary %></td>
        <td>
            <div class="action-buttons">
                    <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_expense_path(expense), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), expense_delete_path(expense), remote: true, title: "Supprimer", class: "delete" %>
</div>
        </td>
      </tr>
    <% end %>