<p id="notice"><%= notice %></p>

<p>
  <strong>Landlord type:</strong>
  <%= @landlord.landlord_type %>
</p>

<p>
  <strong>Civility:</strong>
  <%= @landlord.civility %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @landlord.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @landlord.first_name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @landlord.birth_date %>
</p>

<p>
  <strong>Birth place:</strong>
  <%= @landlord.birth_place %>
</p>

<p>
  <strong>Id type:</strong>
  <%= @landlord.id_type %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @landlord.id_number %>
</p>

<p>
  <strong>Id expiration:</strong>
  <%= @landlord.id_expiration %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @landlord.profession %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @landlord.nationality %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @landlord.company_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @landlord.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @landlord.phone %>
</p>

<p>
  <strong>City:</strong>
  <%= @landlord.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @landlord.country %>
</p>

<p>
  <strong>Email:</strong>
  <%= @landlord.email %>
</p>

<p>
  <strong>About:</strong>
  <%= @landlord.about %>
</p>

<p>
  <strong>User:</strong>
  <%= @landlord.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @landlord.status %>
</p>

<%= link_to 'Edit', edit_landlord_path(@landlord) %> |
<%= link_to 'Back', landlords_path %>
