<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @payment_reason.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @payment_reason.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment_reason.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @payment_reason.user %>
</p>

<%= link_to 'Edit', edit_payment_reason_path(@payment_reason) %> |
<%= link_to 'Back', payment_reasons_path %>
